<%- include inc/header.ejs %>
<form method="post" class="form-horizontal">
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">用户名：</label>
        <div class="col-sm-7">
            <input type="text" name="name" class="form-control" value="<%= post.name%>" disabled="disabled" readonly="readonly"/>
        </div>
    </div>
    <div class="form-group">
        <label for="password" class="col-sm-3 control-label">密码：</label>
        <div class="col-sm-7">
            <input type="text" name="password" class="form-control" placeholder="密码若为空，保持原有密码" value=""/>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="col-sm-3 control-label">邮箱：</label>
        <div class="col-sm-7">
            <input type="text" name="email" class="form-control" value="<%= post.email%>"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
            <button class="btn btn-lg btn-primary " type="submit">提交</button>
        </div>
    </div>
</form>
